In [1]:
import sys
import os
sys.path.append(os.path.abspath("tools/DataLoader.py"))
from tools.DataLoader import *

In [2]:
data = DataLoader(interval="1d")

In [3]:
df = data.get_history("1d",start="2021-03-01", symbol="ETHUSDT")

In [4]:
df

               Open     High     Low    Close       Volume
Date
2022-05-04  2000.00  5824.00  1344.8  2940.67   8856.82553
2022-05-05  2940.64  2953.07   880.0  2747.93  11836.63372
2022-05-06  2747.93  2757.97   803.0  2655.33  11735.63431